<ion-view view-title="Welkom" class="ja" >
    <ion-content>
        
        <br><br><br><br>

        <div id="content">
            <img src="img/logoBig.png" alt="logo_domino's_pizza">

            <br><br><br><br><br><br><br><br>
            <a href="#/scanner" class="facebook-sign-in button button-block button-royal icon-left ion-social-facebook">
                Inloggen met Facebook
            </a>
            
            
            
        </div>
        
    </ion-content>
</ion-view>