<ion-view view-title="Welkom" class="custom" hide-back-button="true" >
    <ion-content scroll="false">
        
        <br><br><br><br>

        <div id="content">
            <img src="img/logoBig.png" alt="logo_domino's_pizza">

            <br><br><br><br><br><br><br><br>
            <a  class="facebook-sign-in button button-block button-royal icon-left ion-social-facebook" ng-click="facebookSignIn()">
                Inloggen met Facebook
            </a>
        </div>
        
    </ion-content>
</ion-view>