<ion-view view-title="Hulp" class="custom">
    <ion-content scroll="false">

        <div class="card">
          <div class="item item-divider">
            Bellen
          </div>
          <div class="item item-text-wrap">
            <a ng-href="tel:{{telefoonnummers['telefoonnood1']}}"   class="button button-outline button-block button-positive icon-left ion-ios-telephone" >101</a>
            <a ng-href="tel:{{telefoonnummers['telefoonnood2']}}"   class="button button-outline button-positive button-block icon-left ion-ios-telephone" >112</a>
            <a ng-href="tel:{{telefoonnummers['telefoonmanager']}}" class="button button-outline button-positive  button-block icon-left ion-ios-telephone" >Manager</a>
            <a ng-href="tel:{{telefoonnummers['telefoonwinkel']}}"  class="button button-outline button-positive button-block icon-left ion-ios-telephone" >Winkel</a>
            <a ng-href="tel:{{telefoonnummers['telefoonfranchisee']}}" class="button button-outline button-positive  button-block icon-left ion-ios-telephone" >Franchisée</a>

          </div>
          
        </div>

        <div class="card">
          <div class="item item-divider">
            Ongeluk of verwonding
          </div>
          <div class="item item-text-wrap">

            <ol>
              <li>Blijf kalm</li>
              <li>Stel vast of er medische hulp moet komen</li>
              <li>Bel een ambulance indien nodig</li>
              <li>Bel je franchisenemer en/of supervisor</li>

            </ol>

          </div>
          
        </div>

        <div class="card">
          <div class="item item-divider">
            Overval
          </div>
          <div class="item item-text-wrap">

            <ol>
              <li>Blijf kalm</li>
              <li>Verzet je niet</li>
              <li>Werk mee met de overvaller...geef ze alles wat ze willen</li>
              <li>Hou het zo kort mogelijk... Doe niks wat het langer kan duren</li>
              <li>Kijk af en toe en probeer zoveel mogelijk opvallende kenmerken van de overvaller te onthouden</li>
            </ol>

          </div>
          
        </div>

        <br><br>

            
    </ion-content>

    <div class="tabs tabs-stable tabs-icon-top">
      
        <a class="tab-item" ng-click="getLocation()">
            <i class="icon ion-location"></i>
            Waar ben ik?
        </a>
        <a class="tab-item" ng-click="toggleFlashlight()">
            <i class="icon ion-lightbulb"></i>
            Zaklamp
        </a>
    </div>

</ion-view>