<ion-view view-title="Hulp" style="background-color:#E2DCFA;">
    <ion-content>
        
        <br>
        <div id="content">
            <button class="button button-block button-positive icon-left ion-ios-telephone" >101</button><br>
            <button class="button button-block button-positive icon-left ion-ios-telephone" >112</button><br>
            <button class="button button-block button-positive icon-left ion-ios-telephone" >Klant</button><br>
            <button class="button button-block button-positive icon-left ion-ios-telephone" >Manager</button><br>
            <a href="tel:+011753911" class="button button-positive button-block icon-left ion-ios-telephone" >Winkel</a><br>
            <button class="button button-block button-positive icon-left ion-ios-telephone" >Franchisée</button>

            <h3>Ongeval</h3>
            <p>Het eerste wat u moet doen na een scooterongeval is denken om uw eigen veiligheid en de persoon die wellicht bij u achterop zat. Zorg dat u niet nog een keer wordt aangereden maar dan door het andere verkeer. Als uw scooter of brommer de weg blokkeert haalt u deze weg, anders laat u uw scooter liggen. Vergeet geen foto’s te maken voordat u uw scooter verplaatst. Dit geldt ook voor de andere weggebruiker waarmee u in een botsing bent geraakt. Maak indien mogelijk met uw mobiele telefoon zo veel mogelijk foto’s van het ongeluk. Zet alles op de foto of schrijf  het op:
            <li>het kenteken van de tegenpartij</li>
            <li>de remsporen op de weg</li>
            <li>de schade aan de voertuigen</li>
            <li>de persoonlijke schade, etc</li></p>
        </div>



            
    </ion-content>

     <div class="tabs tabs-dark tabs-icon-top">
      <a class="tab-item">
        <i class="icon ion-location"></i>
        Waar ben ik?
      </a>
    </div>
</ion-view>