<ion-view view-title="Instellingen" class="custom" >
    <ion-content scroll="false"> 

        <div class="list card">

          <div class="item item-avatar">
            <img src="{{user.picture}}">
            <h2>{{user.name}}</h2>
            <h4>{{user.email}}</h4>
          </div>
          
       <a class="item item-icon-left assertive" ng-click="showLogOutMenu()" style="color:#3b5998;">
          <i class="icon ion-social-facebook"></i>
          Uitloggen
        </a>
          
        </div>

        <br><br><br>
        <div id="content">
            <button ng-click="dropTabel()" class="button button-block button-large button-assertive">
                Leveringen verwijderen
           </button>
           <br>
           <a href="#/telefoonnummers" class="button button-block button-large button-assertive">
                Telefoonnummers wijzigen
           </a>
        </div>
    </ion-content> 

</ion-view>