<ion-view view-title="Instellingen" class="ja" >
    <ion-content>

        <div class="list card">

          <div class="item item-avatar">
            <img src="../img/hoofd.jpg">
            <h2>Soufiane Salama</h2>
          </div>
          

          <button class="button button-block button-positive icon-left ion-social-facebook" style="color:#3b5998">
             Uitloggen
            </button>

        </div>

        <br><br><br>
        <div id="content">
          <button ng-click="dropTabel()" class="button button-block button-large button-assertive">
                Leveringen verwijderen
           </button>
        </div>
    </ion-content> 

</ion-view> 