<ion-view view-title="Instellingen" class="ja" >
    <ion-content>

        <div class="list card">

          <div class="item item-avatar">
            <img src="img/hoofd.jpg">
            <h2>Soufiane Salama</h2>
          </div>
          
 <a class="item item-icon-left assertive" href="#" style="color:#3b5998;">
    <i class="icon ion-social-facebook"></i>
    Uitloggen
  </a>
          <!-- <button class="button button-block button-positive icon-left ion-social-facebook" style="color:#3b5998; padding:5px;">
             Uitloggen
          </button> -->

          
        </div>

        <br><br><br>
        <div id="content">
            <button ng-click="dropTabel()" class="button button-block button-large button-assertive">
                Leveringen verwijderen
           </button>
           <br>
           <a href="#/telefoonnummers" class="button button-block button-large button-assertive">
                Telefoonnummers wijzigen
           </a>
        </div>
    </ion-content> 

</ion-view> 