<ion-view view-title="Levering nr. ">
    <ion-content>
        <ion-list>
          <div class="list card">

              <!-- Card Header  -->
              <div class="item item-divider">
                Klantgegevens
              </div>

              <!-- Card List items  -->
              <a class="item item-icon-left">
                <i class="icon ion-social-euro"></i>
                 {{klant["bedrag"]}} 
              </a>

              <a  class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{klant["naam"]}} 
              </a>

              <a class="item item-icon-left">
                <i class="icon ion-map"></i>
                {{klant["adres"]}} 
              </a>

              <a class="item item-icon-left">
                <i class="icon ion-iphone"></i>
                {{klant["telefoon"]}} 
              </a>

              <a class="item item-icon-left">
                <i class="icon ion-android-warning"></i>
                {{klant["status"]}} 
              </a>
              <a class="item item-icon-left">
                <i class="icon ion-ios-information"></i>
                {{klant["nota"]}} 
              </a>

            </div>

            <!-- Card Header  -->
            <div class="list card">
                <div class="item item-divider">
                  Bestelling
                </div>
                <!-- Card list items  -->
                <ion-item ng-repeat="item in items">
                   <p> {{item}}</p>
                </ion-item>
            </div>
        </ion-list>

        
    </ion-content>

    <div class="tabs tabs-dark tabs-icon-top">
      <a href="#/map" class="tab-item">
        <i class="icon ion-navigate"></i>
        Route
      </a>
    </div>

</ion-view> 