<ion-view view-title="Leveringen">
    <ion-content>

         	<!-- Card Header  -->
            <div class="list card">
                <div class="item item-divider">
                  Leveringen die u vandaag heeft bezorgd:
                </div>
                <!-- Card list items  -->
                <div ng-repeat="item in items" class="item item-button-right">
                	<h2>Levering nr. {{item.ordernr}}</h2>
                	<p>Klant naam: {{item.naam}}</p>
                	<p>Adres: {{item.adres}}</p>
                    <a class="button " ng-href="#/levering/{{item.orderid}}">
				      <i class="icon ion-more"></i>
				    </a>
                </div>
            </div>

    </ion-content>

</ion-view> 