<ion-view view-title="Scanner" ><!-- style="background-color:#E2DCFA;" -->
    <ion-content>
        
        <br><br>

        <div id="content">
            <h3>Klik op de barcode om te scannen.</h3>  
            <br>
            <a href="#/scanner">
                <img src="img/barcode.png" width="80%" heigth="auto" alt="logo_barcode"/>
            </a>
        </div>



            
    </ion-content>

    <ion-tabs class="tabs-dark tabs-icon-top">

	  <ion-tab title="Leveringen" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
	    <!-- Tab 1 content -->
	  </ion-tab>
	  
	  <ion-tab href="#/hulp" title="Hulp" icon="ion-ios-medkit">
        <!-- Tab 3 Hulp -->
      </ion-tab>

      <ion-tab title="Uitloggen" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <!-- Tab 2 content -->
      </ion-tab>

	</ion-tabs>
</ion-view>