/* Empty. Add your own CSS if you like */

body{
	background-color: #E2DCFA;
}

#content{
	width:90%;
	margin:auto;
	text-align:center;
}
#content button{
	margin-top:0px; 
	margin-bottom:0px;
}

#map {

    width: 100%;
    height: 95%;
    margin: auto;
}

.scroll {
    height: 100%;
}

.ja{

    
    background-image:
    -webkit-linear-gradient( #2E8C80, #95a4c7);
}

.button.button-royal{
	background-color: 	#3b5998 !important;
}